.step(
  data-title='How it Works',
  data-file='sms2fa_flask/confirmation_sender.py')
  :markdown
    ## About this Application

    This [Flask](http://flask.pocoo.org/) application example
    demonstrates how to implement an SMS two-factor authentication using Twilio.

    _To run this application yourself [download the code and follow the
    instructions on GitHub](https://github.com/TwilioDevEd/sms2fa-flask)._

    Adding two-factor authentication (2FA) to your web application increases the
    security of your user's data. [Multi-factor
    authentication](http://en.wikipedia.org/wiki/Multi-factor_authentication)
    determines the identity of a user in two steps: 

    1. First we validate the user with an email and password

    2. Second, we validate using a mobile device, by sending them a one-time **verification code**.

    Once our user enters the verification code, we know they have received the SMS, and indeed are who they say they are. This is a standard SMS implementation.

    For a slightly more advanced implementation using [Authy](https://www.twilio.com/authy) One-Touch checkout this [tutorial](//www.twilio.com/docs/tutorials/walkthrough/two-factor-authentication/python/flask).

    Let's get started!

    ---

    **See Also:**

    * [REST API: Sending SMS or MMS](//www.twilio.com/docs/api/rest/sending-messages)

.step(
  data-title='Generating a Verification Code',
  data-file='sms2fa_flask/confirmation_sender.py',
  data-highlight='14-15')
  :markdown
    ## Generating a Verification Code

    Once our user logs in we need to send them a _verification code_.

    To generate our _verification code_ we use `random.randrange` which can take a
    _range_ as an argument. Considering the current implementation our _6-digit
    verification code_ could be any number between **100000** and **999999**.

    Next let's look at how we would send this in an SMS with Twilio.

.step(
  data-title='Sending a Verification Code',
  data-file='sms2fa_flask/confirmation_sender.py',
  data-highlight='18-25')
  :markdown
    ## Sending a Verification Code

    The Twilio helper library allows us to easily send an SMS.

    First we have to create an instance of a **Twilio Rest Client** with our
    credentials. Now all we have to do to send an SMS using the REST API is to call `client.messages.create()` with the necessary parameters.

    You can find your credentials at your [Twilio Account](//www.twilio.com/user/account/phone-numbers/incoming).

    ---

    **See Also:**

    * [Twilio Python Helper Library](//www.twilio.com/docs/libraries/python)
    * [Twilio: Sending a Text Message](//www.twilio.com/docs/quickstart/python/sms/sending-via-rest)


.step(
  data-title='Registering a User',
  data-file='sms2fa_flask/views.py',
  data-highlight='23-31')
  :markdown
    ## Registering a User

    When a **user** signs up for our website, this controller creates the **user** and sends them a _verification code_.

    In order to do two-factor authentication we need to make sure we ask for the
    user's **phone number**.

    Let's see how we implemented the `send_confirmation_code` function.

    ---

    **See Also:**

    * [Getting Started with Rails](//guides.rubyonrails.org/getting_started.html)

.step(
  data-title='Putting It All Together',
  data-file='sms2fa_flask/confirmation_sender.py',
  data-highlight='7-11')
  :markdown
    ## Putting It All Together

    Using the building blocks we've created in the previous steps we can now pull it all together.

    Notice we update the user's session with the _verification code_ since we'll need to look it up to verify the user.

    Let's take a look on how to implement the actual 2-Step verification.

    ---

    **See Also:**

    * [Using Services to Keep Your Rails Controllers Clean and DRY](//blog.engineyard.com/2014/keeping-your-rails-controllers-dry-with-services)

.step(
  data-title='Implementing the 2-Step Verification',
  data-file='sms2fa_flask/views.py',
  data-highlight='49-59')
  :markdown
    ## Implementing the 2-Step Verification

    When the **user** receives an SMS with the _verification code_ we need to
    ensure the given code is valid.

    This validation is achieved by comparing the user's session **verification code**
    with the _verification code_ the user inputs on the form.

    ![Confirm Verification Code](http://howtodocs.s3.amazonaws.com/sms-2fa-authentication.png)

    If the validation was successful the application allows the user to have
    access to the protected content. Otherwise the application will prompt for
    the _verification code_ once again.

.step
  :markdown
    ## Where to next?

    That's it! We've just implemented an SMS Two-Factor Authenticated
    application. If you're a Rails developer working with Twilio, you might want
    to check out these other tutorials.

    [**Workflow Automation**](//www.twilio.com/docs/tutorials/walkthrough/workflow-automation/ruby/rails)

    Increase your rate of response by automating the workflows that are key
    to your business. In this tutorial, learn how to build a ready-for-scale
    automated SMS workflow, for a vacation rental company.

    [**Masked Numbers**](//www.twilio.com/docs/tutorials/walkthrough/masked-numbers/ruby/rails)

    Protect your users' privacy by anonymously connecting them with Twilio
    Voice and SMS. Learn how to create disposable phone numbers on-demand,
    so two users can communicate without exchanging personal information.

    ### Did this help?

    Thanks for checking out this tutorial! If you have any feedback
    to share with us, we'd love to hear it. [Contact the Twilio Developer Education Team](mailto:deved-oss@twilio.com) to let us know what you think.
